<div class="alert well fade in" id="gal-issue" role="alert">
    <!-- TODO 添加關閉公告框功能 -->
    <button type="button" class="close" data-dismiss="alert">×</button>
    <!-- 這裡自行配置公告內容 -->
    本來想撰寫一些可以用來回憶的文章，像是ACGN相關的，不過那花費的心力相當大啊，最後還是放棄了。<br>
	不過說真的，把別人的文章與技術，吸收並轉變成自己的文章，真的是非常非常麻煩...<br>
	畢竟要先實作過一輪後，確定此篇教學正確後再次重做一輪並撰寫一篇屬於自己的文章，這其中需要花費相當多的時間<br>
	所以，我還是直接轉貼文章好了，而不允許轉貼的網站就僅提供原文網址。<br>
	<hr>
	話說，我懶了，這整個網站無限期停止更新，也許哪天心血來潮會慢慢更新有的沒有的吧，但八成不會是你有興趣的。
	順帶一提，有一天我要把這網站的error給清掉看了有點礙眼跟改個好看一點的背景，可是這又很麻煩><
	而話是這樣說啦，嘛，實際上會怎樣也不一定，總之目前還有一堆動畫要處理... (2019/07/18)
  <hr>
  最近把tsuiokuyo.github.io那個網站刪除了，我覺得搭兩個網站沒甚麼意義，更何況都是這種廢文，
  話說，小第我U2站發邀中，要求超低:畢竟居然會看到這公告，只要能維持不被砍帳的程度歡迎來求邀(2020/02/17)
    <!-- 自行配置公告內容結束 -->
</div>
