<div class="alert well fade in" id="gal-issue" role="alert">
  <!-- TODO 添加關閉公告框功能 -->
  <button type="button" class="close" data-dismiss="alert">×</button>
  <!-- 這裡自行配置公告內容 -->
  <del>本來想撰寫一些可以用來回憶的文章，像是ACGN相關的，...</del>(刪)<br>
  <del>所以，我還是直接轉貼文章好了，而不允許轉貼的網站就僅提供原文網址</del>(不幹啦，浪費時間)。<br>
  <br>
  <del>話說，我懶了，這整個網站無限期停止更新...</del>(刪)
  <hr>
  對了，一件重要的事情，回顧一些文章，我發現阿，很多地方其實是非必要做的，甚至其實某些別人都已經幫你弄好了，簡單的說就是脫褲子放屁，說不定其實那一段還是錯誤的，不過......若不會因此而出現bug就不特地回去改文章了<br>
  最近把tsuiokuyo.github.io那個網站刪除了，我覺得搭兩個網站沒甚麼意義，更何況都是這種廢文，<br>
  流量比我想像的高很多，跟我想像的不一樣啊！<br>
  不過，github.io的SEO排名比netlify.com還高唉= =<br>
  話說，在下U2站可發邀，會看到這公告也是有緣，只要能維持不被砍帳的程度歡迎來求邀(2020/02/17)
  <br>
  不會在這裡面用vue覺得很哀傷，在本機用html寫得很開心，結果丟上來出現一堆error，<br>
  硬要用應該是可以(?)，但是有甚麼後遺症就不曉得了，只能先移除了哀，白白浪費一堆時間...<br>
  論實作前google的重要性!!
  <!-- 自行配置公告內容結束 -->
</div>