<div class="alert well fade in" id="gal-issue" role="alert">
    <!-- TODO 添加關閉公告框功能 -->
    <button type="button" class="close" data-dismiss="alert">×</button>
    <!-- 這裡自行配置公告內容 -->
    網站重新修改中
    <br>
    嘛，僅僅只是用來撰寫一些自己看的心得罷了。
    <!-- 自行配置公告內容結束 -->
</div>