<div class="alert well fade in" id="gal-issue" role="alert">
  <!-- TODO 添加關閉公告框功能 -->
  <button type="button" class="close" data-dismiss="alert">×</button>
  <!-- 這裡自行配置公告內容 -->
  現在過的真是可悲人生哪，走到哪跌到哪，何時才有站起來的一天<br />
  一年前買的LUNA幣因為這次LUNA事件破產，身家蒸發，變成負債80W，又失業中，媽的<br />
  雖然都是個人問題啦，只是不承擔風險那就只能工作一輩子，然後HOLD也只能當個廢物。
  居留守...
  <img src="https://firebasestorage.googleapis.com/v0/b/tsuiokuyo-8a31a.appspot.com/o/306074.jpg?alt=media&token=423f5bab-c274-4ca5-801c-ca626558aa64" with="150" heigh="136" alt="麻布理財APP">
  <!-- 自行配置公告內容結束 -->
</div>