<div class="alert well fade in" id="gal-issue" role="alert">
    <!-- TODO 添加關閉公告框功能 -->
    <button type="button" class="close" data-dismiss="alert">×</button>
    <!-- 這裡自行配置公告內容 -->
    本來想撰寫一些可以用來回憶的文章，像是ACGN相關的，不過那花費的心力相當大啊，最後還是放棄了。<br>
	不過說真的，把別人的文章與技術，吸收並轉變成自己的文章，真的是非常非常麻煩...<br>
	畢竟要先實作過一輪後，確定此篇教學正確後再次重做一輪並撰寫一篇屬於自己的文章，這其中需要花費相當多的時間<br>
	<del>所以，我還是直接轉貼文章好了，而不允許轉貼的網站就僅提供原文網址</del>(不幹啦，浪費時間)。<br>
	<hr>
	話說，我懶了，這整個網站無限期停止更新...(後刪) (2019/07/18)
  <hr>
  最近把tsuiokuyo.github.io那個網站刪除了，我覺得搭兩個網站沒甚麼意義，更何況都是這種廢文，<br>
  流量比我想像的高很多，跟我想像的不一樣啊！<br>
  不過，tsuiokuyo.github.io的SEO排名比tsuiokuyo.netlify.com高很多哀= =<br>
  話說，小第我U2站發邀中，會看到這公告也是有緣，只要能維持不被砍帳的程度歡迎來求邀(2020/02/17)
    <!-- 自行配置公告內容結束 -->
</div>
