<section class="hidden-xs">
    <ul class="cb-slideshow">
        <li><span>睦月</span></li>
        <li><span>如月</span></li>
        <li><span>彌生</span></li>
        <li><span>卯月</span></li>
        <li><span>皐月</span></li>
        <li><span>水無月</span></li>
        <li><span>文月</span></li>
        <li><span>葉月</span></li>
    </ul>
</section>