<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="tsuiokuyo的動畫紀錄清單">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>tsuiokuyo的動畫紀錄清單</title>
	
    <!-- import Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/element-ui/lib/umd/locale/zh-TW.js"></script>


    <script src="https://www.gstatic.com/firebasejs/7.9.1/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.9.1/firebase-analytics.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback" async defer></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</head>

<body>
    <div id="app">
        <el-container>
            <div class="banner">
            </div>

            <el-header height="100">
                <el-card class="box-card">
                    <div slot="header" class="clearfix">
                        <span></el-avatar><h1>tsuiokuyo的動畫紀錄清單<el-avatar :size="80" style="float:right" src="https://d33wubrfki0l68.cloudfront.net/699fb7879fa75fcd29a86e8d6599878a9a0b077a/44369/imgs/avatar.jpg"></el-avatar></h1>
						<a href="https://yuriever.com">回到部落格請點我</a><br>
						</span>
                    </div>
                    <div>
                        停止更新並刪除資料庫路徑，僅搞https://yuriever.com/animeListTW/index.html
                        ~~版面放棄中，使用Cloud Firestore*2當成資料庫，不過免費的額度一個每天只有五萬筆，而目前查一次就一千多筆了，所以......呵。 <br /> 表格包含待看及有印象看過的的動畫，應該涵蓋我認識的九成的作品了，畢竟忘了的東西也想不起來。~~
                        
				
                        <br />基本上我都看BD版，老番通常DVD版，所以新番不太可能會有紀錄，而BD通常TV版放送後約一年後才會壓制。 <br /> 而以下動畫分行的方式，以TVDB分類為基準，某些作品會被分進Season 0、OVA，所以下面也會查不到，例如亡國的阿基德等等。
                        <br />有些只有劇場版也不會出現在下面，例如殼中少女等。有空再去弄劇場版紀錄清單、裏番清單部分。 <br />
						<br />套句伯納德小姐說的台詞:想看的時候就必須去看，如果錯過了機會，就會變成「以後再看」，最終會被轉移到「不看也沒差」的作品內，最後直接遺忘。
						<br />本來是想把anikore、myanimelist、anidb三個網站的評分放進表格中，但是這工程有點麻煩阿，所以只用iframe把anikore塞進抽屜之中，而anikore路徑以第一季為主
						
                        <br /> 最後呢，因為筆數太多，這表格內容八成會有漏掉，或是其實打錯行，這個就沒甚麼辦法了。 <br /> 0顆星等於還沒看，以下表格更新時間:2022/07/15
						<br /> 此頁面停更新，前幾周花了點時間Mapping了包含Bangumi、巴哈、Anikore、ann、anidb等約10個評分網站動畫ID，再用爬蟲or網站提供的API撈各個動畫評分
						<br /> 後來覺得累了就跑去玩單機遊戲，之後又跑去玩夏日狂想曲跟拚蘭斯全系列，沒想到還不錯玩，然後上面的那個就沒然後了，專注力被吸引走了。(2022/08/04)
                        <br /> 停更放棄，自認為沒效率，目前只會更新這個，https://yuriever.com/animeListTW/index.html (2022/09/16)
						<br /> (2024/03/28)上面那網站也差不多死了，自從硬碟爆了以後一堆東西都沒了，目前又打算用懶人做法了，真的許多東西碰完就沒了，連記憶都幾乎沒有保留...，
						<br />伯納德小姐說??，沒回來這邊我根本完全沒有想起來有這部。
                    </div>
                    <form action="?" method="POST" v-if="verify" style="float:center">
                        <!-- <div class="g-recaptcha" data-sitekey="6Ld47WIgAAAAAMeNmW3XFkDiCYwTbvth7aldWJ7N" data-callback="onRecaptchaSuccess"></div> -->
                        <br/>
                    </form>
                </el-card>
            </el-header>

            <el-main>
                <el-alert :title="msg" :type="color">
                </el-alert>
                <div>
                    <el-table :data="anime" v-loading="loading" height="700" style="width: 100%;font-size: 20px">
                        <el-table-column type="index" label="筆數" width="80">
                        </el-table-column>
                        <el-table-column prop="year" label="動畫年份" width="125" sortable>
                        </el-table-column>
                        <el-table-column prop="name" label="中文名稱" sortable>
                        </el-table-column>
                        <el-table-column prop="rank" label="個人喜好" sortable>
                            <template slot-scope="scope">
                              <el-rate v-model="scope.row.rank" disabled :max=5>
                              </el-rate>
                            </template>
                        </el-table-column>
                        <el-table-column prop="progress" label="觀看進度" width="150">
                        </el-table-column>
                        <el-table-column prop="state" label="觀看狀態" width="180" :filters="stateFilters" :filter-method="filterState" sortable>
                            <template slot-scope="scope">
                         <span :class="stateClass(scope.row.state)">{{scope.row.state}}</span>
                        </template>
                        </el-table-column>
                        <el-table-column prop="memo" label="我的廢話">
                        </el-table-column>
						<el-table-column prop="anikore" label="日本anikore評分">
						<template slot-scope="scope">
							<el-button @click="scope.row.dialogVisible = true" type="warning" style="margin-left: 16px;" v-if="scope.row.anikore != ''">
											 開啟右邊抽屜
											</el-button>
							<el-drawer size="60%" v-if="scope.row.dialogVisible" :visible.sync="scope.row.dialogVisible" :with-header="false">
								<div class="holds-the-iframe">
									<iframe width='100%' height='100%' :src="scope.row.anikore">
									</iframe>
								</div>
							</el-drawer>
						</template>
					</el-table-column>
                        <el-table-column prop="rip" label="壓制組/個人" :filters="stateRips" :filter-method="filterRip" sortable>
                            <template slot-scope="scope">
                              <el-tag
                              v-for="item in splitRip(scope.row.rip)"
                              :key="item.name"
                              :type="item.color"
                              effect="plain">
                              {{ item.name }}
                            </el-tag>
                          </template>
                        </el-table-column>
                    </el-table>
                </div>
            </el-main>
        </el-container>
    </div>
    <script>
        function onloadCallback() {
            if (vue.color !== 'info') {
                vue.setMsg('WAIT');
            }
        }

        function onRecaptchaSuccess() {
            // vue.getDB();
            // vue.verify = false;
        }
        ELEMENT.locale(ELEMENT.lang.zhTW);
        let vue = new Vue({
            el: "#app",
            data() {
                return {
                    verify: true,
                    msg: '',
                    color: '',
                    loading: true,
                    anime: [],
                    stateFilters: [{
                        text: '已看完',
                        value: '已看完'
                    }, {
                        text: '有機會再重補',
                        value: '有機會再重補'
                    }, {
                        text: '努力中',
                        value: '努力中'
                    }, {
                        text: '進行中',
                        value: '進行中'
                    }, {
                        text: '放置中',
                        value: '放置中'
                    }, {
                        text: '棄坑',
                        value: '棄坑'
                    }],
                    stateRips: [{
                        text: 'mawen1250',
                        value: 'mawen1250'
                    }, {
                        text: 'VCB-Studio',
                        value: 'VCB-Studio'
                    }, {
                        text: 'ANK-Raws',
                        value: 'ANK-Raws'
                    }, {
                        text: 'LittleBakas!',
                        value: 'LittleBakas!'
                    }, {
                        text: '其他',
                        value: '其他'
                    }, ],
                };
            },
            mounted: function() {
                //     this.setMsg('TEST'); 
            },
            watch: {
                anime: function(oldVal, newVal) {
                    if (oldVal.length != 0) {
                        this.loading = false;
                    } else {
                        this.loading = true;
                    }
                }
            },
            methods: {
                filterRip(value, row) {
                    let objs = this.splitRip(row.rip);
                    if (value === '其他') {
                        return objs.find(obj => obj.name !== 'VCB-Studio' && obj.name !== 'ANK-Raws' && obj.name !== 'mawen1250' && obj.name !== 'LittleBakas!')
                    }
                    let result = objs.filter(obj => obj.name === value)
                    return result.length !== 0;
                },
                filterState(value, row) {
                    return row.state === value;
                },
                stateClass: function(state) {
                    switch (state) {
                        case '已看完':
                            return {
                                badge: true,
                                'text-bg-success': true
                            }
                        case '進行中':
                            return {
                                badge: true,
                                'text-bg-primary': true
                            }
                        case '只看了漫畫':
                            return {
                                badge: true,
                                'text-bg-warning': true
                            }
                        case '只玩了遊戲':
                            return {
                                badge: true,
                                'text-bg-warning': true
                            }
                        case '只看了小說':
                            return {
                                badge: true,
                                'text-bg-warning': true
                            }
                        case '有機會再重補':
                            return {
                                badge: true,
                                'text-bg-danger': true
                            }
                        case '努力中':
                            return {
                                badge: true,
                                'text-bg-primary': true
                            }
                        case '放置中':
                            return {
                                badge: true,
                                'text-bg-secondary': true
                            }
                        case '棄坑':
                            return {
                                badge: true,
                                'text-bg-dark': true
                            }
                    }
                },
                splitRip(ripText) {
                    let objs = [];
                    let rips = ripText.split(/\s+/);
                    rips.forEach(function(item) {
                        let obj = {};
                        switch (item) {
                            case 'VCB-Studio':
                            case 'ANK-Raws':
                            case 'mawen1250':
                            case 'LittleBakas!':
                                obj.color = 'success'
                                break;
                            case 'AI-Raws':
                            case 'Kagura':
                            case 'philosophy-raws':
                            case 'Henshin':
                            case 'ANE':
                            case 'THORA':
                            case 'sergey_krs':
                            case 'SweetSub':
                            case 'LoliHouse':
                                obj.color = ''
                                break;
                            case 'jsum':
                            case 'Beatrice-Raws':
                            case 'Yousei-Raws':
                            case 'Reinforce':
                            case 'Salender-Raws':
                            case 'QTS':
                                obj.color = 'warning'
                                break;
                            case 'Unknow':
                                obj.color = 'info'
                                break;
                            default:
                                obj.color = 'danger';
                                break;
                        }
                        obj.name = item;
                        objs.push(obj);
                    });
                    return objs
                },
                setMsg(type) {
                    switch (type) {
                        case 'A': //第一個額度
                            this.msg = "目前狀態：綠色是查詢正常的顏色！";
                            this.color = "success";
                            break;
                        case 'B': //第二個額度
                            vue.msg = "目前狀態：第一個資料庫，今天的免費額度已經爆炸，那麼這第二個資料庫額度爆炸還會遠嗎？";
                            vue.color = "warning";
                            break;
                        case 'WAIT': //等待驗證
                            vue.msg = "目前狀態：等待手動打勾後會自動查詢資料庫，畢竟不想讓爬蟲直接佔免費額度QAQ";
                            vue.color = "error";
                            break;
                        case 'TEST': //測試
                            this.msg = "目前狀態：測試中!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!";
                            this.color = "info";
                            break;
                        case 'X': //爆炸
                            vue.msg = "目前狀態：看來兩個資料庫的免費額度都爆了，你還是21小時之後再來吧！";
                            vue.color = "error";
                            break;
                    }
                },
                getDB() {
                    
                },
            },
        });
    </script>

    <style>
        @import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
        body {
            font-family: 'Noto Sans TC', sans-serif !important;
            font-size: 20px !important;
        }
        
        .banner {
            height: 280px;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url('https://firebasestorage.googleapis.com/v0/b/tsuiokuyo-8a31a.appspot.com/o/305743.jpg?alt=media&token=3428a3a4-5e4a-461f-819d-aaeeee0f3810');
            background-position: center;
        }
        
        .el-alert__title {
            font-size: 21px;
        }
		
		.holds-the-iframe {
			background:url(loading.svg) center center no-repeat;
			width:100%;
			height:100%;
		}
    </style>
    </div>
</body>

</html>