<aside id="sidebar-recent_comments">
  <div class="panel panel-gal recent hidden-xs" data-aos="fade-up" data-aos-duration="2000">


    <div class="panel-heading" style="text-align: center">
      <i class="fa fa-github"></i>
      tsuiokuyo.netlify.com@PUSH
    </div>
    <div id="getGitHub">
      <br />
      <el-timeline>
        <el-timeline-item v-for="(record, index) in commits" :key="index" type="primary" icon="el-icon-upload2" :timestamp="record.commit.author.date | formatDate">
          {{ record.commit.message | truncate }}
        </el-timeline-item>
      </el-timeline>

    </div>

    <style>
      .gitLi {
        line-height: 1.5em;
        margin-bottom: 20px;
      }

      .gitAuthor,
      .gitDate {
        font-weight: bold;
      }
    </style>

    <script>
      var apiURL = 'https://api.github.com/repos/tsuiokuyo/tsuiokuyo.netlify.com/commits?per_page=5&sha=master'

      var getGitHub = new Vue({
        el: '#getGitHub',
        data: {
          commits: null
        },
        created: function() {
          this.fetchData()
        },
        filters: {
          truncate: function(v) {
            var newline = v.indexOf('\n')
            return newline > 0 ? v.slice(0, newline) : v
          },
          formatDate: function(v) {
            return v.substr(0, 10)
          }
        },

        methods: {
          fetchData: function() {
            var xhr = new XMLHttpRequest()
            var self = this
            xhr.open('GET', apiURL)
            xhr.onload = function() {
              self.commits = JSON.parse(xhr.responseText)
              console.log(self.commits[0].html_url)
            }
            xhr.send()
          }
        }
      })
    </script>
</aside>