<aside id="sidebar-recent_comments">
    <div class="panel panel-gal recent hidden-xs" data-aos="fade-up" data-aos-duration="2000">
        <div class="panel-heading" style="text-align: center">
          <i class="fa fa-envelope"></i>
          通知我
        </div>
        <ul class="list-group list-group-flush"></ul>
          <form name="contact" method="POST" data-netlify="true">
        <div style="margin:0 auto;"">
          暱稱 <input type="text" name="name" class="form-control" />
          電子郵件 <input type="email" name="email" class="form-control" />

      <!--  <p>
          <label>Your Role: <select name="role[]" multiple>
            <option value="leader">Leader</option>
            <option value="follower">Follower</option>
          </select></label>
        </p> -->
        訊息: <textarea name="message" class="form-control"></textarea

        <p>
          <center><button type="submit" class="btn btn-info">送出</button></center>
        </p>
        </div>
      </form>

    </div>
</aside>
