<% if(theme.use_issue) { %>
<%- partial('_partial/issue') %>
<% } %>
<div id="article-list">
     <%
        // 如果要置頂文章, 就在front-matter上設置 top: true
        // 一般置頂文章一篇就夠了吧2333
        // 關鍵還是置頂文章是從文章抽出來的, 如果某一分頁段的置頂文章過多
        // 可能會造成某一分頁的文章數目較多, 不過問題應該不大
        if (page.prev === 0) {
            var topPosts = site.posts.filter(function (post) {
                return typeof post.top !== 'undefined' && post.top === true
            }).sort('date', -1)
            topPosts.forEach(function (post) { %>
            <%- partial('_partial/excerpt', { item: post, top: true }) %>
            <% })
        } %>
     <% page.posts.filter(function (post) {
         return typeof post.top === 'undefined' || post.top === false
     }).forEach(function (post) { %>
     <%- partial('_partial/excerpt', { item: post }) %>
     <% }) %>
</div>
<%- partial('_partial/pagination', { page: page }) %>