<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>
<body>
 原先的404公益網掛了<br>
 有機會再來把這裡塞一些東西~~
  <div>
    <input type ="button" class="btn btn-warning" onclick="javascript:location.href='https://tsuiokuyo.netlify.com/'" value="回到部落格"></input>
  </div>
</body>

<style  type="text/css">
body{
  margin:0 auto;
}
</style>

</html>
