<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>
<body>
  原先的網站掛了，路徑大量失效，換地方重新架設，但變得網站URL區分大小寫了...<br>
  五秒後自動返回部落格
  <div>
    <input type ="button" class="btn btn-warning" onclick="javascript:location.href='https://yuriever.com/'" value="回到部落格"></input>
  </div>

  <script type="text/javascript">
    // 設定5秒後自動跳轉
    setTimeout(function() {
      window.location.href = 'https://yuriever.com/';
    }, 5000);
  </script>
</body>

<style  type="text/css">
body{
  margin:0 auto;
}
</style>

</html>
